body {
	font-family: Consol;
	color: white;
	overflow-x: hidden;
	background-color: black;
}

@font-face {
	font-family: Consol;
	src: url(consola.ttf);
}

@font-face {
	font-family: Sega;
	src: url(SEGA.TTF);
}

@font-face {
	font-family: VCR;
	src: url(vcr.ttf);
}

@font-face {
	font-family: ALEX;
	src: url(AlexBrush-Regular.ttf);
}

@font-face {
	font-family: Slamer;
	src: url(slammertag.ttf);
}

@font-face {
	font-family: hack;
	src: url(HACKED.ttf);
}


@font-face {
	font-family: Retro;
	src: url(Sunset Boulevard.otf);
}

.id_card {
	background: url(tv.gif) no-repeat;
	background-size: cover;
}

.preloader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: url(time.gif)   repeat center  #fff;
    background-color: gray;
    background-size: 8% auto;
}

#me {
	 border-radius: 2000px;
	 width: 200px;
	 height: 190px;
	 margin-top: 20px;
	 margin-bottom: 20px;
	 margin-right: 40px;
	 opacity: 0.7;
}

.blink {
  -webkit-animation: blink 0.5s linear infinite;
  animation: blink 0.5s linear infinite;
  color: white;
}

@-webkit-keyframes blink {
  50% { color: rgb(34, 34, 34); }
  51% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 0); }
}

@keyframes blink {
  50% { color: rgb(34, 34, 34); }
  51% { color: rgba(34, 34, 34, 0); }
  100% { color: rgba(34, 34, 34, 0); }
}

#code {
	background-color: #008080;
	color: green;
	height: 800px;
	cursor: url(CursorsXP.cur), default;
	position: relative;
}

.code_file{
	background-color: black;
	height: 800px;
	overflow: auto;
}

#wallpaper{
	background-color: #008080;
}

#invisible{
  width: 200px;
  height: 200px;
  position: absolute;
  left: 3vw;
  top: 5vw;
  display: none;
}

#finish{
  width: 300px;
  height: 100px;
  left: 0px;
}

#start
{
	width: 80px;
	height: 30px;
	top: 120px;
	left: 100px;
}

.about_me {
	display: none;
	margin-top: 0px;
}

#butty{
	text-align: right;
	padding: 0px;
	margin: 0px;
}

.pict {
	font-size: 50px;
	text-align: center;
}

.info {
	text-align: left;
	font-size: 30px;
	color: white;
	font-family: VCR;
	text-align: left;
	text-shadow: black 5px 6px 7px;
	opacity: 0.5;
	padding-right: 10px;
	padding-left: 10px;
}

.line {
	background-color: #c8c8c8;
}

.button {
	width: 30px;
	height: 30px;
	margin: auto 2px auto auto;
	border-radius: 100px; 
}

.task {
	box-shadow: 0px 3px 3px black;
	border: 4px;
	border-right: 5px;
	border-top: 5px;
	border-color: black;
	font-size: 17px;
	color: black;
	padding: 3px;
}

.task_selected {
	border-left: 3px solid black;
	border-top: 3px solid black;
	color: black;
	background-color: #ededed;
	padding: 3px;
}

.selected {
	cursor: url(Cursor_15.cur), pointer;
}

#this_is_the_end {
	margin-top: 10px;
	font-size: 15px;
	font-family: Sega;
	text-align: center;
	color: red;
}

#file{
	height: 70px;
	width: 70px;
}


#end {
	margin-top: 20px;
}
